
/* CUSTOMIZAÇÃO DA INDEX  */

body {
    background-color: rgb(10, 0, 39);
}

h1 {
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 70px;
}

/* não lembro o pq desse, acho que nao to usando mais */
.cadastrar {
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

/* coloco os elementos em grid */
.container {
    display: grid;
    /* aqui eu determino é são 3 colunas de tamanhos iguas, cada coluna tem uma fração */
    grid-template-columns: repeat(4, 1fr);
    /* essa é a altura das linhas */
    grid-auto-rows: 100px;
    /* espaço entre um elemento de dentro e outro */
    grid-gap: 5px 8px;
    /* margem interna que afasta os elementos da borda do grid */
    padding: 20px 10px;
    text-align: center;
    align-items: center;
    margin-top: 100px;
  }
  
/* aqui eu coloco efeitos nos icones svg */
svg{
    transition: all .3s ease-in-out;
}

svg:hover{
    fill: #0004ff;
    transform: scale(1.15);
}

/* customizo os links e o paragrafo dentro do link*/
a{
    text-decoration: none;
}

a > p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .2s ease-in-out;
}

a > p:hover{

    color: #03d3fc;
}


p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .2s ease-in-out;
}

p:hover{

    color: #03d3fc;
}


/* CUSTOMIZAÇÃO DOS FORMS (PEGUEI UM TEMPLATE DA NET E MODIFIQUEI UM POUCO) ENTÃO NÃO CONSIGO
EXPLICAR MTO PQ TEM COISAS Q TBM N SEI KK*/


  
  form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 860px;
    padding: 20px;
    width: 420px;
    margin: auto;
  }
  /* TITULO */
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
    /* COONTAINER DOS INPUTS*/
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
    /* AQ ELE FAZ A TRANSIÇÃO DO PLACEHOLDER QUANDO O USUARIO SELECIONA O CAMPO */
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 72px;
  }
  
  /* AQ A MESMA COISA MAS PARA UM PLACEHOLDER DE TAMANHO MAIOR */
  .cut-grande {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 132px;
  }

/* AQ A MESMA COISA MAS PARA UM PLACEHOLDER DE TAMANHO MENOR */
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .input:focus ~ .cut-grande,
  .input:not(:placeholder-shown) ~ .cut-grande {
    transform: translateY(8px);
  }


  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #03d3fc;
  }
  /* BOTAO SUBMIT */
  .submit {
    background-color: #009BFF;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    /* outline: 0;*/   
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  
  /* CUSTOMIZAÇÃO DAS CAIXAS DE SELECT */
  select{
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    outline: none;
  }

  select:focus ~ .cut-grande,
  select:not(:placeholder-shown) ~ .cut-grande {
    transform: translateY(8px);
  }

  select:focus ~ .placeholder,
  select:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  select:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  select:focus ~ .placeholder {
    color: #03d3fc;
  }

  select::-ms-expand {
    display: none;
  }
/* NÃO ESTÁ MAIS EM USO ESSE FORMBODY */
  .formbody{
    align-items: center;
  background-color: rgb(10, 0, 39);;
  display: flex;
  justify-content: center;
  height: 150vh;
  }

/* CUSTOMIZACAO DAS TABELAS */
/* AQ TBM USEI TEMPLATE DA INTERNET, MUDEI ALGUMAS COISAS SÓ, MAS VAI COMPARANDO OS NOMES DAS CLASSES NOS ARQUIVOS JSP PRA ENTENDER MELHOR*/
.tabelaListagem {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.tabelaListagem th {
    background-color: #1F2739;
    padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:25px; 
  font-weight: 300;
  line-height:1em;
  text-align: left;
  color: #4DC3FA;
}

.tabelaListagem td {
    padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
}

/* ESSES DOIS DEIXAM AS LINHAS PARES COM COR DIFERENTE DAS IMPARES */
.tabelaListagem tr:nth-child(odd) {
	  background-color: #323C50;
}

.tabelaListagem tr:nth-child(even) {
	  background-color: #2C3446;
}



.tabelaListagem tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.tabelaListagem td:hover {
  background-color: #007CFF;
  color:#3F3F3F;
  font-weight: bold;
  
  box-shadow: #10536A -1px 1px, #10536A -2px 2px, #10536A -3px 3px, #10536A -4px 4px, #10536A -5px 5px, #10536A -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

/* AQUI MUDA A COR QUANDO PASSA O MOUSE NA ULTIMA CELULA DE CADA LINHA */
.tabelaListagem td:last-child:hover{
    background-color: #5A0000;
  color:#3F3F3F;
  font-weight: bold;
  
  box-shadow: #350000 -1px 1px, #350000 -2px 2px, #350000 -3px 3px, #350000 -4px 4px, #350000 -5px 5px, #350000 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

/* tabela dvd */

.tabelaListagemGrande {
    text-align: left;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    display: table;
    padding: 0 0 4em 0;
}

.tabelaListagemGrande th {
    background-color: #1F2739;
    padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:15px; 
  font-weight: 300;
  line-height:1em;
  text-align: left;
  color: #4DC3FA;
}

.tabelaListagemGrande td {
    padding-bottom: 2%;
	  padding-top: 2%;
  padding-left: 1%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.02em;
  color:#A7A1AE;
}

/* ESSES DOIS DEIXAM AS LINHAS PARES COM COR DIFERENTE DAS IMPARES */
.tabelaListagemGrande tr:nth-child(odd) {
	  background-color: #323C50;
}

.tabelaListagemGrande tr:nth-child(even) {
	  background-color: #2C3446;
}



.tabelaListagemGrande tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.tabelaListagemGrande td:hover {
  background-color: #007CFF;
  color:#3F3F3F;
  font-weight: bold;
  
  box-shadow: #10536A -1px 1px, #10536A -2px 2px, #10536A -3px 3px, #10536A -4px 4px, #10536A -5px 5px, #10536A -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

/* AQUI MUDA A COR QUANDO PASSA O MOUSE NA ULTIMA CELULA DE CADA LINHA */
.tabelaListagemGrande td:last-child:hover{
    background-color: #5A0000;
  color:#3F3F3F;
  font-weight: bold;
  
  box-shadow: #350000 -1px 1px, #350000 -2px 2px, #350000 -3px 3px, #350000 -4px 4px, #350000 -5px 5px, #350000 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}


/* ESSE BODY LISTAGEM É PRO BODY DA PAGINA DE TABELA MAS NAO É NECESSÁRIO */
.bodylistagem {
    background-color: rgb(10, 0, 39);
}

/* ESSES DOIS BI BI É PRA CUSTOMIZAR OS ICONES EM SVG */
.bi.bi-arrow-repeat:hover{
    fill: #009BFF;
}

.bi.bi-chevron-contract:hover{
    fill: red;
}

/* ESSE .MENU É A CUSTOMIZAÇÃO DOS LINKS Q VAO FICAR EM CIMA DA TABELA (HOME, CADASTRAR NOVO)*/

.menu{
    margin-bottom: 80px;
    text-align: center;
}

.menu > a{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #009BFF;
    margin-left: 30px;
    text-align: center;
}


.menu>a:hover{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0004ff; 
    margin-left: 30px;
    transition-duration: 0.5s;
    text-align: center;
}

